@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

html,
body,
:root {
  height: 100%;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.orbitron {
  font-family: var(--orbitron);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--color-detail);
}

@layer base {
  html {
    --color-primary: #f2fbfd;
    --color-detail: #deeaec;
    --color-secondary: #131b1c;
  }
}

html[data-theme="theme1"] {
  --color-primary: #f2fbfd;
  --color-detail: #deeaec;
  --color-secondary: #131b1c;
}

html[data-theme="theme2"] {
  --color-primary: #f3e6cf;
  --color-detail: #e2d5bc;
  --color-secondary: #774e34;
}

html[data-theme="theme3"] {
  --color-primary: #182938;
  --color-detail: #243c53;
  --color-secondary: #b8d4f5;
}
